body {
  margin: 0;
  
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.navigation {
  position: relative;
  overflow: hidden;
  list-style: none;
  background-color: #ececec;
  margin: 0;
}

.navigation a {
  color: black;
  float: left;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  
}

.navigation a.active {
  font-weight: bold;
}

.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Yellowtail", cursive;
  font-size: 32px;
  cursor:pointer;
}

.nav-right a {
  float: right;
  font-size: 18px;
}
#burger {
  float: right;
  padding: 25px 10px;
  height: 48px;
  cursor:pointer;
}
.container {
  display: grid;
  cursor:pointer;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-1 {
  display: grid;
  background-color: #f78888;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
}

.column-2 {
  display: grid;
  background-color: #90ccf4;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
}

.column-3 {
  display: grid;
  background-color: #f3d250;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [intro] 30px [image] 230px [space] auto [end];
}

.title {
  display: inline-grid;
  font-size: 3.5em;
  padding: 0;
  justify-items: center;
}

.image {
  display: inline-grid;
  justify-items: center;
}

.intro {
  display: inline-grid;
  font-size: 1.1em;
  justify-items: center;
}
@media screen and (min-width: 775px) {
  .container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 775px) {
  body {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .column-1 {
    display: grid;
    background-color: #f78888;
    align-items: center;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .column-2 {
    display: grid;
    background-color: #90ccf4;
    align-items: center;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .column-3 {
    display: grid;
    background-color: #f3d250;
    align-items: center;
    justify-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
