body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

p {
  font-family: "Quattrocento Sans", sans-serif;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.2em;
  background-color: #ececec;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  display: inline-flex;
  padding: 1em;
  color: black;
}
li a.active {
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-1 {
  display: grid;
  background-color: #f78888;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [into] 30px [image] 210px [space] 100vh [end];
}

.column-2 {
  display: grid;
  background-color: #90ccf4;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [into] 30px [image] 210px [space] 100vh [end];
}

.column-3 {
  display: grid;
  background-color: #f3d250;
  align-items: center;
  justify-items: center;
  grid-template-rows: [title] 110px [into] 30px [image] 210px [space] 100vh [end];
}

.title {
  display: inline;
  font-size: 3.5em;
  padding: 0;
  justify-items: center;
}

.image {
  display: inline-grid;
  height: 100;
  width: auto;
  justify-items: center;
}

.intro {
  display: inline-grid;
  font-size: 1em;
  justify-items: center;
}
